@use '../../theme/theme' as theme;

.faq {
	padding: 56px 0;
	background-color: var(--colors-white);

	@include theme.lg {
		padding: 80px 0;
	}

	// .faq__title
	&__title {
		text-align: center;

		@include theme.text-style-helper(h2);
	}

	// .faq__spoilers
	&__spoilers {
		margin-top: 28px;

		@include theme.sm {
			margin-top: 42px;
		}
	}
}
